<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>E-Commerce</title>
    {% load static %}
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: blue;
        }
        h1 {
            margin-bottom: 2px;
            color: white;
        }
    
    </style>
</head>
<body>
    <h1>WELCOME TO THE EVENT BOOKING SYSTEM</h1>
    <img src="{% static 'home1.jpg' %}" alt="Event" class="event-image">
    <div class="buttons" style="text-align: center; margin-top: 15px;">
    <a href="{% url 'signup' %}" class="signup-btn" style="display:inline-block; padding:10px 24px; background:#2196F3; color:#fff; border-radius:6px; text-decoration:none; margin-right: 10px;">Sign Up</a>
    <a href="{% url 'login' %}" class="signup-btn" style="display:inline-block; padding:10px 24px; background:#43a047; color:#fff; border-radius:6px; text-decoration:none;">Login</a>
</div>
</body>
</html>